#root {
  margin: 16px;
  display: flex;
  text-align: center;
  background-color: black;
  color: white;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  list-style: none;
  margin: 8px;
  padding: 8px;
  border: whitesmoke 3px solid;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
